.home-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
}

.card-row{
    align-self: flex-start;
}

.information{
    font-weight: 700;
}

.card-animation {
    animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}