.emails-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}

.card-grid-emails{
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 1rem;
}

.logo-operadoras{
    max-width: 2rem;
}